img {
    max-width:500px; /* you can use % */
    height: 775px;
}

h1,h2{
    text-align: center;
}

#img-box{
    display:inline-block;
    max-width: 500px;
}

#details-box{
    display: inline-block;
    max-width: 300px;
    margin-left: 20px;
}

th{
    vertical-align: text-top;
    text-align: left;
}

#movie-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}